vm_templates/vmchangepool.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Reconfigure-Virtual-Machine">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element minOccurs="0" ref="Change-Pool"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="Change-Pool">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
